<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quản lý nhân viên</title>
        <link rel="stylesheet" href="../css/views/employee.css" />
    </head>
    <body>
        <div class="container">
            <!-- Start Header -->
            <div class="header">
                <!-- Header Left -->
                <div class="header-left">
                    <!-- Menu button -->
                    <button class="m-button m-button-icon m-button-icon-small">
                        <div class="icon icon-menu"></div>
                    </button>
                    <!-- Logo -->
                    <a class="logo"></a>
                </div>
                <!-- Header Right -->
                <div class="header-right">
                    <!-- User Avatar -->
                    <div
                        class="m-avatar m-button m-button-icon m-button-icon-small"
                    ></div>
                </div>
            </div>
            <!-- End Header -->

            <div class="main">
                <!-- Start Sidebar -->
                <div class="sidebar">
                    <div class="menu">
                        <div class="m-menu-item">
                            <div class="icon icon-tongquan"></div>
                            <a>Tổng quan</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-tienmat"></div>
                            <a>Tiền mặt</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-tiengui"></div>
                            <a>Tiền gửi</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-muahang"></div>
                            <a>Mua hàng</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-banhang"></div>
                            <a>Bán hàng</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-quanlyhoadon"></div>
                            <a>Quản lý hóa đơn</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-kho"></div>
                            <a>Kho</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-congcudungcu"></div>
                            <a>Công cụ dụng cụ</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-taisancodinh"></div>
                            <a>Tài sản cố định</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-thue"></div>
                            <a>Thuế</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-giathanh"></div>
                            <a>Giá thành</a>
                        </div>
                        <div class="m-menu-item">
                            <div class="icon icon-tonghop"></div>
                            <a>Tổng hợp</a>
                        </div>
                    </div>
                </div>
                <!-- End Sidebar -->

                <!-- Start Content -->
                <div class="content">
                    <!-- Page Title -->
                    <div class="page-title">
                        <h1>Nhân viên</h1>
                        <div class="page-title-right">
                            <!-- Nút Thêm mới -->
                            <button
                                class="m-button m-button-primary m-button-with-icon"
                                id="button-add"
                            >
                                <svg
                                    class="icon icon-plus-2"
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="1em"
                                    viewBox="0 0 448 512"
                                >
                                    <path
                                        d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                                    />
                                </svg>
                                <div>Thêm mới</div>
                            </button>
                            <!-- Nút Tùy chọn -->
                            <button
                                class="m-button m-button-icon m-button-icon-small"
                            >
                                <svg
                                    class="icon icon-ellipsis"
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="1em"
                                    viewBox="0 0 448 512"
                                >
                                    <style>
                                        svg {
                                            fill: #6b6c72;
                                        }
                                    </style>
                                    <path
                                        d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <!-- End Page Title -->

                    <!-- Start Page Content -->
                    <div class="page-content">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <div class="toolbar-left">
                                <div class="m-textfield-with-icon">
                                    <input
                                        class="m-input m-input-with-icon"
                                        type="text"
                                        name="name"
                                        placeholder="Tìm kiếm trong danh sách"
                                    />
                                    <div class="icon icon-search"></div>
                                </div>
                            </div>
                            <div class="toolbar-right">
                                <div class="m-dropdownlist">
                                    <select name="" id="">
                                        <option value="1">Chọn công ty</option>
                                        <option value="2">
                                            Công ty Cổ phần MISA
                                        </option>
                                        <option value="3">
                                            Công ty Cổ phần MISA
                                        </option>
                                        <option value="4">
                                            Công ty Cổ phần MISA
                                        </option>
                                        <option value="5">
                                            Công ty Cổ phần MISA
                                        </option>
                                    </select>
                                </div>
                                <button
                                    class="m-button m-button-icon m-button-icon-small"
                                >
                                    <div class="icon icon-filter"></div>
                                </button>
                                <button
                                    class="m-button m-button-icon m-button-icon-small"
                                    id="button-reload"
                                >
                                    <div class="icon icon-reload"></div>
                                </button>
                            </div>
                        </div>
                        <!-- Table -->
                        <div class="table-wrapper">
                            <table class="m-table" id="tableEmployee">
                                <thead>
                                    <tr>
                                        <th
                                            class="text-align-center sticky-column"
                                            style="min-width: 20px"
                                        >
                                            <input class="" type="checkbox" />
                                        </th>
                                        <th
                                            class="text-align-left"
                                            style="min-width: 130px"
                                        >
                                            Mã nhân viên
                                        </th>
                                        <th
                                            class="text-align-left"
                                            style="min-width: 160px"
                                        >
                                            Tên nhân viên
                                        </th>
                                        <th
                                            class="text-align-left"
                                            style="min-width: 100px"
                                        >
                                            Giới tính
                                        </th>
                                        <th
                                            class="text-align-center"
                                            style="min-width: 100px"
                                        >
                                            Ngày sinh
                                        </th>
                                        <th
                                            class="text-align-left"
                                            style="min-width: 120px"
                                        >
                                            Số
                                            <abbr title="Chứng minh nhân dân"
                                                >CMND</abbr
                                            >
                                        </th>
                                        <th
                                            class="text-align-center"
                                            style="min-width: 100px"
                                        >
                                            Ngày cấp
                                        </th>
                                        <th
                                            class="text-align-left"
                                            style="min-width: 160px"
                                        >
                                            Nơi cấp
                                        </th>
                                        <th
                                            class="text-align-left"
                                            style="min-width: 160px"
                                        >
                                            Chức danh
                                        </th>
                                        <th
                                            class="text-align-left"
                                            style="min-width: 100px"
                                        >
                                            Mã đơn vị
                                        </th>
                                        <th
                                            class="text-align-left"
                                            style="min-width: 160px"
                                        >
                                            Tên đơn vị
                                        </th>
                                        <th
                                            class="text-align-right"
                                            style="min-width: 140px"
                                        >
                                            Lương thỏa thuận
                                        </th>
                                        <th
                                            class="text-align-right"
                                            style="min-width: 100px"
                                        >
                                            Hệ số lương
                                        </th>
                                        <th
                                            class="text-align-right"
                                            style="min-width: 140px"
                                        >
                                            Lương đóng bảo hiểm
                                        </th>
                                        <th
                                            class="text-align-center sticky-column-2"
                                            style="min-width: 100px"
                                        >
                                            Chức năng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Cột dữ liệu tĩnh -->
                                    <tr class="m-row-selected">
                                        <td
                                            class="text-align-center sticky-column"
                                        >
                                            <input type="checkbox" checked />
                                        </td>
                                        <td class="text-align-left">NV1737</td>
                                        <td class="text-align-left">
                                            Nguyễn Văn A
                                        </td>
                                        <td class="text-align-left">Nam</td>
                                        <td class="text-align-center">
                                            12/05/2000
                                        </td>
                                        <td class="text-align-left">
                                            125993475
                                        </td>
                                        <td class="text-align-center">
                                            11/01/2016
                                        </td>
                                        <td class="text-align-left">Hà Nội</td>
                                        <td class="text-align-left">
                                            Nhân viên tiếp tân
                                        </td>
                                        <td class="text-align-left">DV1728</td>
                                        <td class="text-align-left">
                                            Đơn vị 8
                                        </td>
                                        <td class="text-align-right">
                                            10.000.000
                                        </td>
                                        <td class="text-align-right">0.10</td>
                                        <td class="text-align-right">
                                            8.000.000
                                        </td>
                                        <td class="text-align-center fix-cell">
                                            <a href="">Sửa</a>
                                            <div class="m-dropdownlist">
                                                <select name="">
                                                    <option value="1">
                                                        Nhân bản
                                                    </option>
                                                    <option value="2">
                                                        Xóa
                                                    </option>
                                                    <option value="3">
                                                        Ngừng sử dụng
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table -->

                        <!-- Paging -->
                        <div class="paging">
                            <div class="m-paging">
                                <!-- Paging Left -->
                                <div class="m-paging-left">
                                    Tổng: <span class="number">4</span> bản ghi
                                </div>

                                <!-- Paging Right -->
                                <div class="m-paging-right">
                                    <div class="record-per-page">
                                        Số bản ghi/trang:
                                        <div class="m-dropdownlist">
                                            <select name="">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div>1 - 4 bản ghi</div>

                                    <div class="m-paging-button">
                                        <button
                                            class="m-button m-button-icon m-button-icon-small"
                                        >
                                            <div class="icon icon-prev"></div>
                                        </button>

                                        <button
                                            class="m-button m-button-icon m-button-icon-small"
                                        >
                                            <div class="icon icon-next"></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Page Content -->
                </div>
                <!-- End Content -->
            </div>

            <!-- Popup: Chi tiết nhân viên -->
            <div class="popup" id="popup">
                <div class="m-container">
                    <!-- Title -->
                    <div class="m-title">
                        <div class="title-left">
                            <h1>Thông tin nhân viên</h1>
                            <div class="m-checkbox-button">
                                <div class="m-checkbox-item">
                                    <input
                                        name="role"
                                        type="checkbox"
                                        id="male"
                                        value=""
                                    />
                                    <label for="male">Là khách hàng</label>
                                </div>
                                <div class="m-checkbox-item">
                                    <input
                                        name="role"
                                        type="checkbox"
                                        id="female"
                                        value=""
                                    />
                                    <label for="female">Là nhà cung cấp</label>
                                </div>
                            </div>
                        </div>

                        <div class="title-right">
                            <button class="m-button m-button-icon">
                                <div class="icon icon-help"></div>
                            </button>
                            <button
                                class="m-button m-button-icon"
                                id="button-close"
                            >
                                <div class="icon icon-close"></div>
                            </button>
                        </div>
                    </div>

                    <!-- Form -->
                    <div class="form-wrapper">
                        <div class="content-1">
                            <!-- Column Left -->
                            <div class="column-left">
                                <div class="row-1">
                                    <div class="m-textfield">
                                        <label class="m-label" for="input-id">
                                            Mã
                                            <span class="required-star">*</span>
                                        </label>
                                        <input
                                            class="m-input"
                                            id="input-id"
                                            type="text"
                                            name="id"
                                            placeholder=""
                                        />
                                    </div>
                                    <div class="m-textfield">
                                        <label class="m-label" for="staff-name">
                                            Tên
                                            <span class="required-star">*</span>
                                        </label>
                                        <input
                                            class="m-input"
                                            id="input-name"
                                            type="text"
                                            name="name"
                                            placeholder=""
                                        />
                                    </div>
                                </div>
                                <div class="row-2">
                                    <div class="m-dropdownlist">
                                        <label class="m-label" for="staff-unit">
                                            Đơn vị
                                            <span class="required-star">*</span>
                                        </label>
                                        <select id="select-unit" name="unit">
                                            <option value="1">
                                                Chọn đơn vị
                                            </option>
                                            <option value="2">
                                                Phòng nhân sự
                                            </option>
                                            <option value="3">
                                                Phòng nhân sự
                                            </option>
                                            <option value="4">
                                                Phòng nhân sự
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row-3">
                                    <div class="m-textfield">
                                        <label
                                            class="m-label"
                                            for="staff-title"
                                        >
                                            Chức danh
                                        </label>
                                        <input
                                            class="m-input"
                                            id="staff-title"
                                            type="text"
                                            name="name"
                                            placeholder=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <!-- Column Right -->
                            <div class="column-right">
                                <div class="row-1">
                                    <div class="m-textfield m-datepicker">
                                        <label class="m-label" for="">
                                            Ngày sinh
                                        </label>
                                        <input
                                            class="m-input m-input-date"
                                            type="date"
                                            name=""
                                            id=""
                                        />
                                    </div>
                                    <div class="m-radio">
                                        <label class="m-label" for="">
                                            Giới tính
                                        </label>
                                        <div class="m-radio-button">
                                            <div class="m-radio-item">
                                                <input
                                                    name="gender"
                                                    type="radio"
                                                    id="male"
                                                    value=""
                                                />
                                                <label for="male">Nam</label>
                                            </div>
                                            <div class="m-radio-item">
                                                <input
                                                    name="gender"
                                                    type="radio"
                                                    id="female"
                                                    value=""
                                                />
                                                <label for="female">Nữ</label>
                                            </div>
                                            <div class="m-radio-item">
                                                <input
                                                    name="gender"
                                                    type="radio"
                                                    id="other"
                                                    value=""
                                                />
                                                <label for="other">Khác</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-2">
                                    <div class="m-textfield">
                                        <label class="m-label" for="">
                                            Số
                                            <span
                                                class="tooltip"
                                                tooltip="Chứng minh nhân dân"
                                                >CMND</span
                                            >
                                        </label>
                                        <input
                                            class="m-input"
                                            type="text"
                                            name="name"
                                        />
                                    </div>
                                    <div class="m-textfield m-datepicker">
                                        <label class="m-label" for="">
                                            Ngày cấp
                                        </label>
                                        <input
                                            class="m-input m-input-date"
                                            type="date"
                                        />
                                    </div>
                                </div>
                                <div class="row-3">
                                    <div class="m-textfield">
                                        <label class="m-label" for="">
                                            Nơi cấp
                                        </label>
                                        <input
                                            class="m-input"
                                            type="text"
                                            name="name"
                                            placeholder=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-2">
                            <div class="row-1">
                                <div class="m-textfield">
                                    <label class="m-label" for="">
                                        Địa chỉ
                                    </label>
                                    <input
                                        class="m-input"
                                        type="text"
                                        name="name"
                                        placeholder=""
                                    />
                                </div>
                            </div>
                            <div class="row-2">
                                <div class="m-textfield">
                                    <label class="m-label" for="">
                                        <span
                                            class="tooltip"
                                            tooltip="Điện thoại"
                                            >ĐT</span
                                        >
                                        di động
                                    </label>
                                    <input
                                        class="m-input"
                                        type="text"
                                        name="name"
                                        placeholder=""
                                    />
                                </div>
                                <div class="m-textfield">
                                    <label class="m-label" for="">
                                        <span
                                            class="tooltip"
                                            tooltip="Điện thoại"
                                            >ĐT</span
                                        >
                                        cố định
                                    </label>
                                    <input
                                        class="m-input"
                                        type="text"
                                        name="name"
                                        placeholder=""
                                    />
                                </div>
                                <div class="m-textfield">
                                    <label class="m-label" for="">
                                        Email
                                    </label>
                                    <input
                                        class="m-input"
                                        type="text"
                                        name="name"
                                        placeholder="example@email.com"
                                    />
                                </div>
                            </div>
                            <div class="row-3">
                                <div class="m-textfield">
                                    <label class="m-label" for="">
                                        Tài khoản ngân hàng
                                    </label>
                                    <input
                                        class="m-input"
                                        type="text"
                                        name="name"
                                        placeholder=""
                                    />
                                </div>
                                <div class="m-textfield">
                                    <label class="m-label" for="">
                                        Tên ngân hàng
                                    </label>
                                    <input
                                        class="m-input"
                                        type="text"
                                        name="name"
                                        placeholder=""
                                    />
                                </div>
                                <div class="m-textfield">
                                    <label class="m-label" for="">
                                        Chi nhánh
                                    </label>
                                    <input
                                        class="m-input"
                                        type="text"
                                        name="name"
                                        placeholder=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Form Buttons -->
                    <div class="form-button">
                        <button
                            class="m-button m-button-second"
                            id="button-cancel"
                        >
                            Hủy
                        </button>
                        <button class="m-button m-button-second">Cất</button>
                        <button class="m-button m-button-primary">
                            Cất và thêm
                        </button>
                    </div>
                </div>
            </div>

            <!-- Progess khi load dữ liệu -->
            <div class="m-loading" id="loading">
                <div class="icon icon-loading"></div>
            </div>
        </div>

        <script src="../js/helpers/common.js"></script>
        <script src="../js/employee.js"></script>
    </body>
</html>
