input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid #707070;
    border-radius: 4px;
    background-color: #fff;
}

input[type="checkbox"]:hover {
    background-color: var(--bgcolor-button-secondary-hover);
}

input[type="checkbox"]:checked {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid #2ca01c;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
}

input[type="checkbox"]:checked:after {
    content: "";
    width: 17px;
    height: 17px;
    background-color: #2ca01c;
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -848px -312px;
    position: absolute;
    top: 0px;
    right: px;
}

.m-checkbox-button {
    margin-top: 16px;
    display: flex;
}

.m-checkbox-button > *:not(:first-child) {
    margin-left: 24px;
}

.m-checkbox-item {
    display: flex;
    align-items: center;
}
