.m-input-date {
    min-width: 120px;
}

.m-input-date:hover {
    cursor: pointer;
}

input[type="date"] {
    color: var(--color-input-placeholder);
    font-family: "Google Sans Regular", sans-serif;
    text-transform: uppercase;
}

input[type="date"]:focus {
    color: var(--color-label);
}
