.m-dropdownlist select {
    height: 36px;
    border: 1px solid #e0e1e4;
    border-radius: 4px;
    min-width: 30px;
    background-color: #fff;
    outline: none;
    padding: 0 16px;
    color: var(--color-input-placeholder);
    font-family: "Google Sans Regular", sans-serif;
    font-size: 14px;
}

.m-dropdownlist select:hover {
    background-color: var(--bgcolor-button-secondary-hover);
    cursor: pointer;
}

.m-dropdownlist select:focus {
    outline: none;
    border: 1px solid var(--border-color-input-focus);
    background-color: var(--bgcolor-input);
}

.m-dropdownlist select:active {
    background-color: var(--bgcolor-button-secondary-pressed);
}
