.m-button-icon .icon-plus-1 {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    background-position: -28px -308px;
}

.m-button-icon .icon-exit {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -144px -144px;
}

.m-button-icon .icon-help {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -88px -144px;
}

.m-button-icon .icon-reload {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -424px -200px;
}

.m-button-icon .icon-filter {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -1601px -88px;
}

.m-button-icon .icon-setting {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -676px -30px;
}

.m-button-icon .icon-prev {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -29px -356px;
}

.m-button-icon .icon-next {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -75px -356px;
}

.m-button-with-icon .icon-plus-2 {
    margin-bottom: 1px;
    fill: white;
}

.m-textfield-with-icon .icon-search {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -88px -32px;
    position: absolute;
    right: 8px;
}

.m-button-icon .icon-menu {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -1153px -28px;
}

.icon-tongquan {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -30px -1628px;
}

.icon-tienmat {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -73px -1628px;
}

.icon-tiengui {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -117px -1628px;
}

.icon-muahang {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -161px -1628px;
}

.icon-banhang {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -204px -1628px;
}

.icon-quanlyhoadon {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -249px -1628px;
}

.icon-kho {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -291px -1628px;
}

.icon-congcudungcu {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -336px -1628px;
}

.icon-taisancodinh {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -378px -1628px;
}

.icon-thue {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -423px -1628px;
}

.icon-giathanh {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -467px -1628px;
}

.icon-tonghop {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -510px -1628px;
}

.icon-ngansach {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -378px -1660px;
}

.icon-baocao {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -547px -1628px;
}

.icon-phantichtaichinh {
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -204px -1661px;
}
