.m-menu-item {
    width: 176px;
    height: 44px;
    border-radius: var(--border-radius);
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: var(--color-menu-item);
    background-color: #041434;
}

.m-menu-item:hover {
    background-color: var(--bgcolor-menu-item-hover);
}

.m-menu-item:active {
    background-color: var(--bgcolor-menu-item-pressed);
    color: var(--color-menu-item-pressed);
}

.m-menu-item .icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
