.m-paging {
    height: 48px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.m-paging-left .number {
    font-family: "Google Sans Bold", sans-serif;
}

.m-paging-right {
    display: flex;
    align-items: center;
}

.m-paging-right > * {
    margin-left: 16px;
}

.m-paging-right .record-per-page {
    display: flex;
    align-items: center;
}

.m-paging-right .record-per-page select {
    color: var(--color-label);
    padding: 0 8px;
    margin-left: 8px;
}

.m-paging-button {
    display: flex;
}

.m-paging-button > *:not(:last-child) {
    margin-right: 16px;
}
