.m-radio-button {
    margin-top: 16px;
    display: flex;
}

.m-radio-button > *:not(:first-child) {
    margin-left: 16px;
}

.m-radio-item {
    display: flex;
    align-items: center;
}

.m-radio-item input {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 2px solid #707070;
    border-radius: 50%;
    background-color: #fff;
}

.m-radio-item input:hover {
    background-color: var(--bgcolor-button-secondary-hover);
}

.m-radio-item input:checked {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 2px solid var(--bgcolor-button-primary);
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.m-radio-item input:checked:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--bgcolor-button-primary);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
}
