.m-table {
    border: unset;
    border-spacing: unset;
    border-collapse: collapse;
}

.m-table tr td,
.m-table tr th {
    padding-left: 16px;
}

.m-table tr th {
    background-color: var(--bgcolor-table-head);
    font-family: "Google Sans Bold", sans-serif;
    color: var(--color-label);
}

.m-table tr th:not(:first-child),
.m-table tr td:not(:first-child) {
    padding-right: 16px;
}

.m-table tr {
    height: var(--height-table-row);
    border-bottom: 1px solid var(--color-table-border);
}

.m-table .text-align-left {
    text-align: left;
}

.m-table .text-align-center {
    text-align: center;
}

.m-table .text-align-right {
    text-align: right;
}

.m-table tbody tr:hover {
    background-color: var(--color-table-row-hover);
    cursor: pointer;
}

.m-table tbody tr.m-row-selected {
    background-color: var(--color-table-row-checked);
}

td input[type="checkbox"] td input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-top: 2px;
}
