.m-label {
    font-family: "Google Sans Medium", sans-serif;
    color: var(--color-label);
}

.m-input {
    height: var(--height-button);
    border: 1px solid var(--border-color-input);
    border-radius: var(--border-radius);
    padding: 0 12px;
    background-color: var(--bgcolor-input);
    font-family: "Google Sans Regular", sans-serif;
    font-size: 14px;
}

.m-input:hover {
    background-color: var(--bgcolor-input-hover);
}

.m-input:focus {
    outline: none;
    border: 1px solid var(--border-color-input-focus);
    background-color: var(--bgcolor-input);
}

.m-input::placeholder {
    color: var(--color-input-placeholder);
    font-family: "Google Sans Regular", sans-serif;
    font-size: 14px;
}

/* Textfield with icon */
.m-textfield-with-icon {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
}

.m-textfield-with-icon .icon {
    width: 24px;
    height: 24px;
}

/* Error Textfields */
.m-input-error {
    border-color: var(--color-error);
}

.m-input-error-message {
    color: var(--color-error);
    font-size: 12px;
}

.m-textfield {
    display: flex;
    flex-direction: column;
}

.m-textfield > .m-input {
    margin-top: 8px;
}

.m-textfield > .m-input-error-message {
    margin-top: 8px;
}
