.tooltip {
    position: relative;
}

.tooltip::before {
    content: attr(tooltip);
    position: absolute;
    padding: 4px;
    bottom: 120%;
    left: -100%;
    right: -100%;
    font-size: 12px;
    background-color: #333;
    border-radius: 4px;
    color: white;
    text-align: center;
    visibility: hidden;
}

.tooltip::after {
    content: "";
    position: absolute;
    font-size: 10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    left: calc(50% - 4px);
    bottom: calc(120% - 4px);
    visibility: hidden;
}

.tooltip:hover::before {
    visibility: visible;
}

.tooltip:hover::after {
    visibility: visible;
}
