/* Import component styles */
@import url(../main.css);


/* Page Title */
.page-title {
    align-items: center;
    display: flex;
    height: 68px;
    justify-content: space-between;
    padding: 12px 0;
    width: 100%;
}

.page-title h1 {
    color: #1f1f20;
    font-family: "Google Sans Bold", sans-serif;
    font-size: var(--h1-font-size);
    padding-top: 6px;
}

.page-title-right {
    display: flex;
}

.page-title-right > * {
    margin-left: 12px;
}


/* Page Content */

.page-content {
    height: calc(100% - 68px - 48px);
    width: 100%;
}

.page-content .toolbar {
    width: 100%;
    height: 60px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.toolbar-left input {
    min-width: 250px;
}

.toolbar .toolbar-right {
    display: flex;
}

.toolbar .toolbar-right > * {
    margin-left: 12px;
}

.page-content .table-wrapper {
    width: 100%;
    height: calc(100% - 60px - 48px);
    max-height: calc(100% -60px - 48px);
    overflow: auto;
    background-color: #fff;
    position: relative;
}

.m-table th {
    position: sticky;
    top: 0px;
    background-color: var(--bgcolor-table-head);
    z-index: 1;
}

abbr {
    text-decoration: none;
}

.fix-cell {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fix-cell select {
    width: 16px;
    border: none;
    background-color: transparent;
}

.fix-cell select:hover {
    background-color: transparent;
}

.fix-cell a {
    color: #004e7e;
    font-family: "Google Sans Medium", sans-serif;
    text-decoration: none;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


/* Popup */

.m-popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-container {
    width: fit-content;
    height: fit-content;
    padding: 32px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
}

/* Title */
.m-title {
    width: 100%;
    height: var(--height-button);
    display: flex;
    justify-content: space-between;
}

.title-left {
    display: flex;
    align-items: center;
}

.title-left h1 {
    font-family: "Google Sans Bold", sans-serif;
    font-size: var(--font-size-heading-1);
}

.title-left .m-checkbox-button {
    margin: 0px 16px;
}

.title-right {
    display: flex;
}

.title-right button {
    border: none;
}

/* Form content */
.form-wrapper {
    width: 100%;
    height: calc(100% - var(--height-button) - var(--height-button));
    padding: 32px 0;
}

.form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-1 {
    width: 100%;
    display: flex;
}

.content-1 > .column-left {
    display: flex;
    flex-direction: column;
}

.content-1 .column-left > * {
    height: 58px;
}

.content-1 .column-left > *:not(:first-child) {
    margin-top: 24px;
}

.content-1 .column-left .row-1 {
    display: flex;
}

.content-1 .column-left .row-1 > *:not(:first-child) {
    margin-left: 16px;
}

.content-1 .column-left .row-2 .m-dropdownlist {
    display: flex;
    flex-direction: column;
}

.content-1 .column-left .row-2 .m-dropdownlist select {
    margin-top: 8px;
    padding-left: 8px;
}

.content-1 .column-left span.required-star {
    color: red;
}

.content-1 .column-right {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
}

.content-1 .column-right > * {
    height: 58px;
}

.content-1 .column-right > *:not(:first-child) {
    margin-top: 24px;
}

.content-1 .column-right .row-1 {
    display: flex;
}

.content-1 .column-right .row-2 {
    display: flex;
}

.content-1 .column-right .row-1 > *:not(:first-child),
.content-1 .column-right .row-2 > *:not(:first-child) {
    margin-left: 16px;
}

.content-2 {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.content-2 .row-1 input {
    max-width: 860px;
}

.content-2 .row-2,
.content-2 .row-3 {
    display: flex;
    margin-top: 24px;
}

.content-2 .row-2 > *,
.content-2 .row-3 > * {
    margin-right: 16px;
}

.content-1 span.tooltip,
.content-2 span.tooltip {
    font-family: "Google Sans Medium", sans-serif;
}

/* Form button */
.form-button {
    width: 100%;
    height: var(--height-button);
    display: flex;
    justify-content: flex-end;
}

.form-button > * {
    margin-left: 16px;
}
