.icon {
    background-image: url(@assets/icons/sprites.svg);
}

.icon-add {
    background-position: -1320px -360px;
    transform: rotate(45deg);
}

.icon-arrow-left {
    background-position: -29px -404px;
}

.icon-close {
    background-position: -1172px -356px;
}

.icon-duplicate {
    background-position: -1545px -87px;
}

.icon-edit {
    background-position: -1656px -88px;
}

.icon-error {
    background-position: -752px -462px;
}

.icon-error-small {
    background-position: -536px -144px;
}

.icon-excel-file {
    background-position: -1264px -88px;
}

.icon-expand {
    background-position: -1796px -472px;
}

.icon-info {
    background-position: -672px -462px;
}

.icon-info-small {
    background-position: -678px -467px;
    border-radius: 50%;
}

.icon-menu {
    background-position: -1153px -28px;
}

.icon-next {
    background-position: -75px -356px;
}

.icon-notifications {
    background-position: -787px -30px;
}

.icon-other {
    background-position: -568px -30px;
}

.icon-prev {
    background-position: -29px -356px;
}

.icon-refresh {
    background-position: -1096px -88px;
}

.icon-search {
    background-position: -313px -144px;
}

.icon-sort {
    background-position: -1727px -524px;
}

.icon-success {
    background-position: -990px -462px;
}

.icon-success-small {
    background-position: -1600px -256px;
}

.icon-user {
    background-position: -816px -256px;
}

.icon-warning {
    background-position: -598px -463px;
}

.icon-warning-small {
    background-position: -592px -144px;
}

.icon-overview {
    background-position: -30px -1628px;
}

.icon-cash {
    background-position: -73px -1628px;
}

.icon-deposits {
    background-position: -117px -1628px;
}

.icon-purchase {
    background-position: -161px -1628px;
}

.icon-sales {
    background-position: -204px -1628px;
}

.icon-manage-invoices {
    background-position: -249px -1628px;
}

.icon-warehouse {
    background-position: -291px -1628px;
}

.icon-tools {
    background-position: -336px -1628px;
}

.icon-fixed-assets {
    background-position: -378px -1628px;
}

.icon-tax {
    background-position: -423px -1628px;
}

.icon-prices {
    background-position: -467px -1628px;
}

.icon-summarization {
    background-position: -510px -1628px;
}
