.component-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

/* Table Toolbar */

.table-toolbar {
    height: 60px;
    width: 100%;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid var(--default-border-color);
    border-top-left-radius: var(--default-border-radius);
    border-top-right-radius: var(--default-border-radius);
}

.toolbar-left,
.toolbar-right {
    display: flex;
    align-items: center;
}

.selected-rows {
    display: flex;
    align-items: center;
}

.selected-rows > *:not(:first-child) {
    margin-left: 16px;
}

.selected-rows .m-button--link {
    color: #e61d1d;
}

.selected-rows span {
    font-family: var(--default-font-family);
    font-weight: 700;
}

.selected-rows-action {
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.selected-rows-action > *:not(:first-child) {
    margin-left: 12px;
}

.selected-rows-action #delete-button i {
    color: red;
}

.toolbar-right > * {
    margin-left: 12px;
}

/* Table */

.table-wrapper {
    height: calc(100% - 48px - 60px);
    width: 100%;
    overflow: auto;
    background-color: #fff;
    position: relative;
}

.table-wrapper::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: var(--secondary-color);
}

.table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--input-placeholder-color);
}

.table-wrapper::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--secondary-color);
}

table {
    border-collapse: collapse;
    color: var(--default-font-color);
}

th,
td {
    max-width: 300px;
    padding: 0 16px;
    overflow: hidden;
    border: 1px solid var(--default-border-color);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    font-weight:700;
}

tr {
    height: var(--table-row-height);
    display: table-row;
}

tr > *:first-child {
    border-left: none;
}

thead tr {
    background-color: #f5f5f5;
    font-family: var(--default-font-family);
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
}

thead tr > *:first-child {
    z-index: 2;
}

th {
    overflow: visible;
    border-top: none;
}

th:hover {
    background-color: #eee;
}

tbody tr {
    background-color: #fff;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.selected-row,
.selected-row:hover {
    background-color: #edf8eb;
}

.row-action {
    height: var(--table-row-height);
    margin-right: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.row-action .m-button {
    height: var(--default-button-height);
    width: var(--default-button-height);
    background-color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}

.row-action .m-button:first-child {
    font-size: 18px;
}

.row-action .m-button:not(:first-child) {
    margin-left: 8px;
}

.sticky-column-left {
    background-color: inherit;
    position: sticky;
    left: 0;
}

/* Table Paging */

.table-paging {
    height: 48px;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
}

.paging-left .number {
    font-family: var(--default-font-family);
    font-weight: 700;
}

.paging-right {
    display: flex;
    align-items: center;
}

.paging-right > * {
    margin-left: 16px;
}

.paging-right .record-per-page {
    display: flex;
    align-items: center;
}

.paging-right .record-per-page select {
    color: var(--color-label);
    padding: 0 8px;
    margin-left: 8px;
}

.paging-button {
    display: flex;
    align-items: center;
}

.paging-button > *:not(:last-child) {
    margin-right: 8px;
}

.m-dropdownlist select {
    height: 36px;
    border: 1px solid #e0e1e4;
    border-radius: 4px;
    min-width: 30px;
    background-color: #fff;
    outline: none;
    padding: 0 16px;
    color: var(--input-placeholder-color);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
}

.m-dropdownlist select:hover {
    background-color: var(--secondary-color--hover);
    cursor: pointer;
}

.m-dropdownlist select:focus {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    outline: none;
}

.m-dropdownlist select:active {
    background-color: var(--bgcolor-button-secondary-pressed);
}
