.m-label {
    width: fit-content;
    margin-bottom: 8px;
}

.m-combobox {
    position: relative;
    /* flex-direction: row; */
    border-radius: 4px;
    box-sizing: border-box;
}

.m-combobox__input,
select {
    width: 100%;
    height: 36px;
    margin-top: 8px;
    flex: 1;
    padding-right: 56px !important;
    padding-left: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--default-border-color);
    font-family: var(--default-font-family);
    color: var(--default-font-color);
    box-sizing: border-box;
}

.m-combobox__input:hover {
    background-color: var(--secondary-color--hover);
    cursor: text;
}

.m-combobox__input:focus,
.m-combobox__input:focus ~ .m-combobox__button {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}

.m-combobox__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-font-color);
    border-radius: 0 4px 4px 0;
    right: 0px;
    top: 8px;
    border: 1px solid var(--default-border-color);
    border-left: unset;
    height: 36px;
    width: 36px;
    border-radius: 0 4px 4px 0px;
    background-color: #fff;
    cursor: pointer;
    min-width: unset !important;
    outline: none;
    box-sizing: border-box;
    opacity: 0.5;
}

.m-combobox__button:hover,
.m-combobox__button:focus {
    background-color: var(--secondary-color--hover);
    color: var(--default-font-color);
}

.m-combobox__button .icon {
    height: 16px;
    width: 16px;
    transition: all 0.3s ease;
}

.m-combobox__data {
    display: flex;
    flex-direction: column;
    padding: 4px 0px;
    position: absolute;
    max-height: 308px;
    width: 100%;
    top: 100%;
    left: 0;
    overflow: auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000016;
    z-index: 999;
    color: var(--default-font-color);
}

.m-combobox__data::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    border-radius: 4px;
    background-color: var(--secondary-color);
}

.m-combobox__data::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--input-placeholder-color);
}

.m-combobox__data::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--secondary-color);
}

.m-combobox__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 40px;
    padding-left: 10px;
    height: 40px;
    cursor: pointer;
    /* border: 1px solid #ccc; */
    outline: none;
    color: var(--default-font-color);
}

.m-combobox__item-icon {
    width: 16px;
    height: 16px;
    font-size: var(--default-font-size);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-combobox__item-icon span {
    color: white;
}

.m-combobox__item-icon--selected {
    width: 14px;
    height: 11px;
}

.m-combobox__item:hover,
.m-combobox__item:focus,
.m-combobox__item--focus,
.m-combobox__item--hover {
    background-color: var(--secondary-color--hover);
    color: var(--default-font-color);
}

.m-combobox__item:hover > * > * {
    color: var(--secondary-color--hover);
}

.m-combobox__item--selected {
    pointer-events: none;
    background-color: rgba(80,184,60,0.1);
}

.m-combobox__item--selected span {
    color: var(--primary-color);
}

#check-icon {
    font-size: 22px;
}