.icon-add {
    background-image: url(../assets/img/sprites.svg);
    background-position: -32px -312px;
}

.icon-avatar {
    background-image: url(../assets/img/sprites.svg);
    background-position: -352px -894px;
}

.icon-big-close {
    background-image: url(../assets/img/sprites.svg);
    background-position: -144px -144px;
}

.icon-close {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -1172px -356px;
}

.icon-delete {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -464px -313px;
}

.icon-duplicate {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -607px -312px;
}

.icon-edit {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -1656px -88px;
}

.icon-error {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -1136px -467px;
}

.icon-excel-file {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -1264px -88px;
}

.icon-filter {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -1601px -88px;
}

.icon-help {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -88px -144px;
}

.icon-information {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -480px -144px;
}

.icon-loading {
    background-image: url(../assets/loading.svg);
    background-repeat: no-repeat;
}

.icon-menu {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -1153px -28px;
}

.icon-next {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -75px -356px;
}

.icon-others {
    background-image: url(../assets/img/sprites.svg);
    background-position: -568px -30px;
}

.icon-prev {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -29px -356px;
}

.icon-reload {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -1097px -89px;
}

.icon-search {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -988px -356px;
}

.icon-setting {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -1376px -88px;
}

.icon-successful {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -1600px -256px;
}

.icon-warning {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -592px -144px;
}

/* Menu's Icons */

.icon-tongquan {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -30px -1628px;
}

.icon-tienmat {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -73px -1628px;
}

.icon-tiengui {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -117px -1628px;
}

.icon-muahang {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -161px -1628px;
}

.icon-banhang {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -204px -1628px;
}

.icon-quanlyhoadon {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -249px -1628px;
}

.icon-kho {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -291px -1628px;
}

.icon-congcudungcu {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -336px -1628px;
}

.icon-taisancodinh {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -378px -1628px;
}

.icon-thue {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -423px -1628px;
}

.icon-giathanh {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -467px -1628px;
}

.icon-tonghop {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -510px -1628px;
}

.icon-ngansach {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -378px -1660px;
}

.icon-baocao {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -547px -1628px;
}

.icon-phantichtaichinh {
    background-image: url(../assets/img/Sprites.64af8f61.svg);
    background-position: -204px -1661px;
}
