/* @import url(./normalize.css); */

/* Icons */
@import url(./icon.css);

/* Fonts */
@font-face {
    font-family: "Google Sans Regular";
    src: url(../assets/fonts/GoogleSans-Regular.otf);
}

@font-face {
    font-family: "Google Sans Medium";
    src: url(../assets/fonts/GoogleSans-Medium.otf);
}

@font-face {
    font-family: "Google Sans Bold";
    src: url(../assets/fonts/GoogleSans-Bold.otf);
}

@font-face {
    font-family: "Google Sans";
    src: url(../assets/fonts/GoogleSans-Regular.otf);
}

@font-face {
    font-family: "Google Sans";
    src: url(../assets/fonts/GoogleSans-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Google Sans";
    src: url(../assets/fonts/GoogleSans-Bold.otf);
    font-weight: 700;
}

:root {
    --height-button: 36px;
    --bgcolor-table-head: #f5f5f5;
    --color-table-border: #e6e6e6;
    --color-table-row-hover: #f2f2f2;
    --color-table-row-checked: #f1ffef;
    --height-table-row: 48px;

    --default-font-family: "Google Sans", san-serif;
    --default-font-size: 14px;
    --default-border-radius: 4px;

    /* Color Variables */
    --primary-color: #50B83C;
    --primary-color--hover: #57c841;
    --primary-color--active: #118044;
    --secondary-color: #fff;
    --secondary-color--hover: #f6f6f6;
    --secondary-color--active: #ebebeb;
    --danger-color: #ff0000;
    --warning-color: #f49342;
    --information-color: #009eeb;

    --disable-opacity: 56%;

    /* Layout Variables */
    --header-height: 56px;
    --sidebar-width: 200px;

    /* Component Style */
    --border-color: #e6e6e6;
    --border-radius: 4px;
    --control-height: 36px;
    --text-color: #1f1f1f;
    --icon-color: #6b6c72;
    --h1-size: 24px;
    --h2-size: 20px;
    --input-text-color: #212121;
    --input-placeholder-color: #9e9e9e;

    --table-thead-color: #eee;
    --table-tbody-color--hover: #f2f2f2;
    --table-tbody-color--active: #f1ffef;
    --table-row-height: 48px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
