.header {
    background-color: #fff;
    display: flex;
    height: var(--header-height);
    width: 100%;
}

.header-left {
    align-items: center;
    display: flex;
    height: 100%;
    padding-left: 16px;
    width: var(--sidebar-width);
}

.header-left .m-button {
    border: none;
    border-radius: 50%;
}

.header-left .logo {
    background-image: url(../../../assets/img/Logo_Module_TiengViet_White.66947422.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 103px;
    height: 36px;
    margin-left: 10px;
    width: 100px;
}

.header-right {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding: 0 24px;
    width: calc(100% - var(--sidebar-width));
}

.header-right .m-avatar {
    background-color: lightcoral;
    border: none;
    border-radius: 50%;
}

.main {
    display: flex;
    height: calc(100vh - var(--header-height));
    width: 100%;
}
