.m-date-picker {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.m-date-picker label {
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-weight: 600;
}

input[type="date"] {
    height: var(--default-button-height);
    width: 100%;
    margin-top: 8px;
    padding: 0 12px;
    background-color: var(--secondary-color);
    border: 1px solid var(--default-border-color);
    border-radius: var(--default-border-radius);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    color: var(--input-placeholder-color);
    text-transform: uppercase;
}

input[type="date"]:hover {
    background-color: var(--secondary-color--hover);
}

input[type="date"]:focus {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    outline: none;
}

.m-date-picker .error-message {
    width: 100%;
    margin-top: 8px;
    color: var(--danger-color);
    white-space: wrap;
}
