/* CSS chung cho các button */
.m-button {
    position: relative;
    height: var(--default-button-height);
    border-radius: var(--default-border-radius);
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    font-weight: 600;
    line-height: var(--default-line-height);
}

.m-button:hover {
    cursor: pointer;
}

.m-button:focus {
    outline: 2px solid black;
}

.m-button:active {
    outline: none;
}

/* CSS cho primary button */
.m-button--primary {
    min-width: 80px;
    padding: 0 16px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
}

.m-button--primary:hover {
    background-color: var(--primary-color--hover);
}

.m-button--primary:active {
    background-color: var(--primary-color--active);
}

/* CSS cho primary button có icon */
.m-button--primary-icon {
    min-width: 80px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 16px;
    background-color: var(--primary-color);
    border: none;
    color: #fff;
}

.m-button--primary-icon:hover {
    background-color: var(--primary-color--hover);
}

.m-button--primary-icon:active {
    background-color: var(--primary-color--active);
}

.m-button--primary-icon .icon {
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    font-size: 24px;
    color: #fff;
}

/* CSS cho secondary button */
.m-button--secondary {
    min-width: 80px;
    padding: 0 16px;
    border: 1px solid var(--default-border-color);
    background-color: var(--secondary-color);
    color: var(--default-font-color);
}

.m-button--secondary:hover {
    background-color: var(--secondary-color--hover);
}

.m-button--secondary:active {
    background-color: var(--secondary-color--active);
}

/* CSS cho secondary button có icon */
.m-button--secondary-icon {
    min-width: 80px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 16px;
    background-color: var(--secondary-color);
    border: 1px solid var(--default-border-color);
    color: var(--default-text-color);
}

.m-button--secondary-icon:hover {
    background-color: var(--secondary-color--hover);
}

.m-button--secondary-icon:active {
    background-color: var(--secondary-color--active);
}

/* CSS cho icon button */
.m-button--icon {
    min-width: var(--default-button-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border: 1px solid var(--default-border-color);
    color: var(--default-icon-color);
}

.m-button--icon:hover {
    background-color: var(--secondary-color--hover);
}

.m-button--icon:active {
    background-color: var(--secondary-color--active);
}

.m-button--icon .icon {
    width: 24px;
    height: 24px;
}

/* CSS cho icon rounded button */
.m-button--icon-rounded {
    min-width: var(--default-button-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    color: var(--default-icon-color);
}

.m-button--icon-rounded:hover {
    background-color: var(--secondary-color--hover);
}

.m-button--icon-rounded:active {
    background-color: var(--secondary-color--active);
}

.m-button--icon-rounded .icon {
    width: 24px;
    height: 24px;
}

/* CSS cho title-bar button */
.m-button--title-bar {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.m-button--title-bar:hover {
    background-color: var(--secondary-color--hover);
}

.m-button--title-bar:active {
    background-color: var(--secondary-color--active);
}

.m-button--title-bar .icon {
    height: 24px;
    width: 24px;
}

/* CSS cho link button */
.m-button--link {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
}

.m-button--link:hover {
    color: var(--primary-color--hover);
}

.m-button--link:active {
    color: var(--primary-color--active);
}

/* Disabled buttons */

.m-button--disable {
    opacity: var(--disable-opacity);
}

.m-button--disable:hover {
    background-color: transparent;
    cursor: not-allowed;
}
