/* TheHeader.vue */

.m-button {
    height: var(--height-button);
    border-radius: var(--border-radius);
    font-family: "Google Sans Regular", sans-serif;
    font-size: 14px;
}

/* Nút chính */
.m-button-primary {
    min-width: 80px;
    border: none;
    padding: 0 16px;
    background-color: var(--bgcolor-button-primary);
    color: #fff;
}

.m-button-primary:hover {
    background-color: var(--bgcolor-button-primary-hover);
    cursor: pointer;
}

.m-button-primary:active {
    background-color: var(--bgcolor-button-primary-pressed);
}

/* Nút phụ */
.m-button-second {
    min-width: 80px;
    border: 1px solid var(--border-color-button);
    padding: 0 16px;

    background-color: var(--bgcolor-button-secondary);
    font-family: "Google Sans Medium", sans-serif;
    color: #1f1f1f;
}

.m-button-second:hover {
    background-color: var(--bgcolor-button-secondary-hover);
    cursor: pointer;
}

.m-button-second:active {
    background-color: var(--bgcolor-button-secondary-pressed);
}

/* Icon button */
.m-button-icon {
    width: var(--height-button);
    height: var(--height-button);
    border: 1px solid var(--border-color-button);
    padding: 6px;
    background-color: #fff;
}

.m-button-icon:hover {
    background-color: var(--bgcolor-button-secondary-hover);
    cursor: pointer;
}

.m-button-icon:active {
    background-color: var(--bgcolor-button-secondary-pressed);
}

.m-button-icon .icon {
    width: 24px;
    height: 24px;
}

.m-button-primary.m-button-with-icon {
    padding-left: 12px;
    display: flex;
    align-items: center;
}

.m-button-primary.m-button-with-icon .icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
